@font-face {
	font-family: 'fontawesome';
	src:url('fonts/fontawesome.eot');
	src:url('fonts/fontawesome.eot?#iefix') format('embedded-opentype'),
		url('fonts/fontawesome.svg#fontawesome') format('svg'),
		url('fonts/fontawesome.woff') format('woff'),
		url('fonts/fontawesome.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'fontawesome';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.icon-warning-sign:before, .icon-volume-up:before, .icon-volume-down:before, .icon-volume-off:before, .icon-headphones:before, .icon-envelope:before, .icon-download-alt:before, .icon-ok:before, .icon-step-backward:before, .icon-fast-backward:before, .icon-backward:before, .icon-play:before, .icon-pause:before, .icon-stop:before, .icon-forward:before, .icon-fast-forward:before, .icon-step-forward:before, .icon-chevron-right:before, .icon-chevron-left:before, .icon-plus-sign:before, .icon-minus-sign:before, .icon-remove-sign:before, .icon-ok-sign:before, .icon-question-sign:before, .icon-exclamation-sign:before, .icon-info-sign:before, .icon-calendar:before, .icon-twitter-sign:before, .icon-facebook-sign:before, .icon-pushpin:before, .icon-google-plus-sign:before, .icon-dashboard:before, .icon-double-angle-right:before, .icon-double-angle-left:before, .icon-angle-left:before, .icon-angle-right:before, .icon-trash:before, .icon-time:before, .icon-cog:before, .icon-home:before, .icon-map-marker:before {
	font-family: 'fontawesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-warning-sign:before {
	content: "\f071";
}
.icon-volume-up:before {
	content: "\f028";
}
.icon-volume-down:before {
	content: "\f027";
}
.icon-volume-off:before {
	content: "\f026";
}
.icon-headphones:before {
	content: "\f025";
}
.icon-envelope:before {
	content: "\f003";
}
.icon-download-alt:before {
	content: "\f019";
}
.icon-ok:before {
	content: "\f00c";
}
.icon-step-backward:before {
	content: "\f048";
}
.icon-fast-backward:before {
	content: "\f049";
}
.icon-backward:before {
	content: "\f04a";
}
.icon-play:before {
	content: "\f04b";
}
.icon-pause:before {
	content: "\f04c";
}
.icon-stop:before {
	content: "\f04d";
}
.icon-forward:before {
	content: "\f04e";
}
.icon-fast-forward:before {
	content: "\f050";
}
.icon-step-forward:before {
	content: "\f051";
}
.icon-chevron-right:before {
	content: "\f054";
}
.icon-chevron-left:before {
	content: "\f053";
}
.icon-plus-sign:before {
	content: "\f055";
}
.icon-minus-sign:before {
	content: "\f056";
}
.icon-remove-sign:before {
	content: "\f057";
}
.icon-ok-sign:before {
	content: "\f058";
}
.icon-question-sign:before {
	content: "\f059";
}
.icon-exclamation-sign:before {
	content: "\f06a";
}
.icon-info-sign:before {
	content: "\f05a";
}
.icon-calendar:before {
	content: "\f073";
}
.icon-twitter-sign:before {
	content: "\f081";
}
.icon-facebook-sign:before {
	content: "\f082";
}
.icon-pushpin:before {
	content: "\f08d";
}
.icon-google-plus-sign:before {
	content: "\f0d4";
}
.icon-dashboard:before {
	content: "\f0e4";
}
.icon-double-angle-right:before {
	content: "\f101";
}
.icon-double-angle-left:before {
	content: "\f100";
}
.icon-angle-left:before {
	content: "\f104";
}
.icon-angle-right:before {
	content: "\f105";
}
.icon-trash:before {
	content: "\f014";
}
.icon-time:before {
	content: "\f017";
}
.icon-cog:before {
	content: "\f013";
}
.icon-home:before {
	content: "\f015";
}
.icon-map-marker:before {
	content: "\f041";
}
